<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.qwerted" xmlns:android="http://schemas.android.com/apk/res/android"
android:versionCode="4" 
      android:versionName="1.0.3">
>
	<supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"

		android:anyDensity="true" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
	android:permission="android.permission.BIND_INPUT_METHOD">

		<service android:name="IType" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.view.InputMethod"></action>
			</intent-filter>
			<meta-data android:name="android.view.im" android:resource="@xml/method" />
 

		</service>


		<activity android:label="@string/app_name" android:name="ITypePreferences">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		

	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.VIBRATE" />
		<uses-permission android:name="android.permission.INTERNET" />
	
	<uses-permission android:name="android.permission.BIND_INPUT_METHOD" />
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
</manifest>